/* #region Generals */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter_SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Segoe UI, Arial, Helvetica, Verdana, sans-serif;
    scroll-behavior: smooth;
}

*:focus {
    outline: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    color: #090909;
}

a {
    color: unset;
    text-decoration: none;
}

.flex-align-center {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.flex-center {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.txt-line-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

section {
    margin: 0 auto;
    padding: 0 64px;
    max-width: 1792px;
}

img[lazy] {
    display: inline-block;
    width: 1px;
    height: 1px;
    vertical-align: middle;
}

/* #endregion */

/* #region General button */
.general__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 44px;
    padding: 4px 68px 4px 24px;
    border-radius: 50px;
    background-color: #008C4F;
    user-select: none;
    position: relative;
    z-index: 1;
    width: fit-content;
}

.general__btn p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    z-index: 2;
    transition: color 0.3s;
}

.general__btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    width: 44px;
    height: 44px;
    background-color: #fff;
    position: absolute;
    right: 4px;
    transition: all 0.3s;
    z-index: inherit;
}

.general__btn:hover p {
    color: #008C4F;
}

.general__btn:hover span {
    width: calc(100% - 8px) !important;
}

.general__btn:hover span img,
.general__btn:hover p {
    animation: scroll-inertia 0.2s ease-out;
}

/* Keyframe animation to "flicker" the image */
@keyframes scroll-inertia {
    0% {
        transform: translateY(0);
        height: 20px;
    }

    25% {
        transform: translateY(-10px);
        opacity: 0.5;
        height: 10px;
    }

    50% {
        transform: translateY(-25px);
        opacity: 0;
        height: 0;
    }

    75% {
        transform: translateY(10px);
        opacity: 0.5;
        height: 10px;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        height: 20px;
    }
}

.general__btn img {
    width: 24px !important;
    height: 24px !important;
    position: absolute !important;
    left: unset !important;
    right: 10px !important;
    top: 10px !important;
    transition: transform 0.4s ease-out;
}

.general__btn.general__btn--center {
    margin: 0 auto;
}

.general__btn.general__btn--contact {
    background-color: #f5f5f5;
    border: 1px solid #008C4F;
    height: 44px;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
}

.general__btn.general__btn--contact p {
    color: #008C4F;
}

.general__btn.general__btn--contact:hover p {
    color: #fff;
}

.general__btn.general__btn--contact span {
    background-color: #008C4F;
    height: 36px;
    width: 36px;
}

.general__btn.general__btn--contact img {
    right: 6px !important;
    top: 6px !important;
}

/* #endregion */

/* #region Section's title */
.section__title {
    font-size: 49px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title.section__title--start {
    align-items: flex-start;
}

.section__sub-title {
    color: #008C4F;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    height: 18px;
    line-height: 18px;
    user-select: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: fit-content;
}

.section__sub-title img {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

/* #endregion */

/* #region Header */
.header {
    background: #fff;
    padding: 0 64px;
    max-width: 1792px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    height: 88px;
    align-content: center;
    z-index: 1000;
    user-select: none;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__logo img {
    height: 40px;
    width: auto;
}

.header__nav-list {
    display: none;
    list-style: none;
    align-items: center;
    gap: 16px;
    background-color: #f5f5f5;
    height: 44px;
    border-radius: 50px;
}

.header__nav-item {
    height: 44px;
}

.header__nav-link {
    font-size: 14px;
    padding: 12px 16px;
    font-weight: 500;
    display: inline-block;
    border-radius: 50px;
    box-sizing: border-box;
    height: 44px;
}

.header__action,
.header__action-menu {
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    height: 44px;
    width: 44px;
    border-radius: 44px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.header__action-menu {
    width: 110px;
    color: #7F7F80;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
}

.header__action-menu img {
    margin-right: 8px;
}

.header__action:hover,
.header__action-menu:hover {
    opacity: 0.8;
}

.header__nav-link.selected {
    background-color: #008C4F;
    color: #fff;
}

.header__nav-link:hover {
    color: #008C4F;
}

.header__nav-link.selected:hover {
    color: #fff;
    opacity: 0.8;
}

.header__nav-link--button {
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
}

.header__nav-item--icon img {
    height: 20px;
    width: 20px;
}

/* #endregion */

/* #region Hero Section */
.hero {
    padding: 0 0 0 0;
    max-width: unset;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    min-height: 350px;
}

.hero__container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.hero__slide img {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
    object-fit: cover;
}

/* #endregion */

/* #region About Section */
.about {
    margin: 88px auto 80px auto;
}

.about__container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: fit-content;
}

.about__txt {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 135%;
}

/* Base style for each line span */
.about__txt span {
    display: block;
    color: #ccc(0.8);
    transition: color 0.3s ease, opacity 0.3s ease;
}

/* Active color change */
.about__txt span.active {
    color: inherit;
}

/* #endregion */

/* #region Stats Section */
.stats {
    margin-bottom: 88px;
}

.stats__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 16px;
}

.stats__item {
    padding: 24px;
    background-color: #F5F5F5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stats__number {
    color: #008C4F;
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    margin-bottom: 8px;
    padding: 13px 0;
    user-select: none;
}

.stats__header {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 8px;
    padding: 5px 0;
}

.stats__txt {
    color: #7F7F80;
    font-size: 16px;
    line-height: 135%;
    font-weight: 500;
}

/* #endregion */

/* #region Introduction Section*/
.introduction {
    margin: 88px auto;
}

.introduction__content {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 24px;
}

.introduction__left {
    position: relative;
    border-radius: 16px;
}

.introduction__left-video {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.introduction__left-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.glass-box {
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: calc(100% - 96px);
    border-radius: 8px;
    background: rgba(31, 32, 32, 0.32);
    backdrop-filter: blur(12px);
    padding: 24px;
    color: #fff;
}

.glass-box__head {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 16px;
}

.glass-box__content {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}

.introduction__right {}

.introduction__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    height: 41px;
    margin-bottom: 16px;
}

.benefits {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;
    background-color: #121212;
    color: #fff;
}

.introduction__desc {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #F5F5F5;
    margin-bottom: 48px;
}

.benefits__item {
    margin-bottom: 24px;
    width: 100%;
    transition: all 0.3s;
}

.benefits__item.active .benefits__content {
    height: 380px;
    opacity: 1;
}

.benefits__item.active .benefits__head>img {
    rotate: 0deg;
}

.benefits__head {
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgba(252, 252, 252, 0.10);
    position: relative;
}

.benefits__head>img {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 8px;
    rotate: -180deg;
    transition: all 0.3s;
}

.benefits__head span {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #008C4F;
    margin-right: 12px;
}

.benefits__head span img {
    height: 24px;
    width: 24px;
}

.benefits__content {
    font-size: 16px;
    font-weight: 500;
    color: #BCB9C0;
    margin-top: 16px;
    height: 0;
    opacity: 0;
    max-height: max-content;
    display: block;
    transition: all 0.3s;
}

/* #endregion */

/* #region Solutions Section */
.solutions {
    background-color: #f5f5f5;
    padding: 0 0 0 0;
    max-width: unset;
}

.solutions__ctn {
    padding: 88px 64px;
}

.solutions__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 48px;
    margin-top: 40px;
}

.solutions__card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    border-radius: 16px;
    background: #fff;
    cursor: pointer;
}

.solutions__card-img {
    width: 100%;
    height: fit-content;
    margin-bottom: 32px;
    overflow: hidden;
    border-radius: 8px;
}

.solutions__card-img img {
    width: 100%;
    height: auto;
    aspect-ratio: 5.3 / 3;
    transition: all 0.5s;
}

.solutions__card:hover img {
    transform: scale(1.2);
}

.solutions__card:hover .solutions__card-title {
    color: #008C4F
}

.solutions__card-title {
    font-size: 20px;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    margin-bottom: 8px;
    transition: color 0.5s;
}

.solutions__card-description {
    color: #7F7F80;
    font-size: 16px;
    font-weight: 500;
}

/* #endregion */

/* #region Projects Section */
.projects {
    margin: 88px auto;
}

.projects__content {
    margin-bottom: 48px;
    margin-top: 40px;

}

.projects__item {
    display: grid;
    gap: 32px;
    grid-template-columns: 0.38fr 0.43fr 0.19fr;
    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 64px;
    position: sticky;
    top: 100px;
    transition: all 0.3s;
}

.projects__item:nth-of-type(1) {
    z-index: 1;
    top: 108px;
}

.projects__item:nth-of-type(2) {
    z-index: 2;
    top: 138px;
}

.projects__item:nth-of-type(3) {
    z-index: 3;
    top: 158px;
}

.projects__item:last-of-type {
    margin-bottom: 0;
}

.projects__info,
.projects__solutions {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projects__info-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 8px;
}

.projects__desc {
    font-size: 16px;
    font-weight: 500;
    color: #7F7F80;
    align-items: end;
    display: flex;
    flex: 1;
}

.projects__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 7.3 / 4.5;
    object-fit: cover;
    border-radius: 8px;
}

.projects__info-items {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
}

.projects__info-items div {
    color: #7F7F80;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid #BCB9C0;
    width: fit-content;
    margin-bottom: 8px;
}

.projects__info-items div:last-of-type {
    margin-bottom: 0px;
}

/* #endregion */

/* #region Products Section */
.products {
    background-color: #f5f5f5;
    padding: 0 0 0 0;
    max-width: unset;
}

.products__ctn {
    padding: 88px 64px;
}

.products__categories {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__category {
    width: fit-content;
    border-radius: 50px;
    overflow: hidden;
    color: #7F7F80;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    padding: 13px 18px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.products__category:hover {
    opacity: 0.8;
    background-color: #008C4F;
    color: #fff;
}

.products__category:last-of-type {
    margin-right: 0;
}

.products__category.selected {
    background-color: #008C4F;
    color: #fff;
}

.products__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 40px;
    margin-bottom: 48px;
}

.products__item {
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.products__item:hover {
    opacity: 0.8;
}

.products__item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 32px;
}

.products__name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.products__desc {
    color: #7F7F80;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.products__name,
.products__desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.products__price {
    font-size: 20px;
    font-weight: 700;
}

/* #endregion */

/* #region Contacts Section */
.contact {
    margin: 88px auto;
}

.contact__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 24px;
    border-radius: 16px;
    background: #121212;
    position: relative;
}

.contact__slides {
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    gap: 24px 20px;
    background: transparent;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.contact__slide {
    position: relative;
    top: 0;
    left: -75%;
    top: -300px;
}

.contact__slide:nth-of-type(2n) {
    top: -100px;
}

.contact__slide img {
    width: 400px;
    overflow: hidden;
    height: auto;
    border-radius: 8px;
    margin: 12px 0;
    aspect-ratio: 1;
    object-fit: cover;
}

.contact__form {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
}

.contact__title {
    font-size: 39px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.contact__message {
    color: #7F7F80;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
}

.contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
}

.contact__inputs input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 16px;
    border: 1px solid #BCB9C0;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    color: #090909;
    font-size: 16px;
    font-weight: 500;
}

.contact__inputs input::placeholder {
    color: #7F7F80;
    font-size: 16px;
    font-weight: 500;
}

.contact__select {
    position: relative;
}

.contact__select select {
    appearance: none;
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #BCB9C0;
    border-radius: 50px;
    color: #7F7F80;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}

.contact__select img {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.3s ease;
}

/* .contact__select select:focus+img {
                transform: translateY(-50%) rotate(180deg);
            } */

.contact__select option[disabled] {
    color: #aaa;
}

/* On hover/focus state */
.contact__select:hover,
.contact__select:focus {
    opacity: 0.8;
}

/* Style options */
.contact__select option {
    padding: 10px;
}

.contact__message {
    display: flex;
}

.contact__message input {
    height: 144px;
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #BCB9C0;
    border-radius: 16px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    color: #090909;
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* #endregion */

/* #region Reviews Section */
.reviews {
    margin: 88px auto;
    padding: 0 0 0 0;
    max-width: unset;
}

.reviews__ctn {
    padding: 0 64px;
}

.reviews__carousel {
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.reviews__carousel-track {
    animation: reviews__scroll 50s linear infinite;
    display: flex;
    width: calc(456px * 10);
}

.reviews__item {
    border-radius: 16px;
    width: 440px;
    background: #F5F5F5;
    margin-right: 16px;
}

@keyframes reviews__scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-456px * 5));
    }
}

.reviews__carousel:hover .reviews__carousel-track {
    animation-play-state: paused;
}

.reviews__author {
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 24px;
}

.reviews__author img {
    height: 64px;
    width: 64px;
    aspect-ratio: 1;
    border-radius: 8px;
    margin-right: 20px;
}

.reviews__author-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.reviews__author-position {
    color: #7F7F80;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.reviews__desc {
    color: #7F7F80;
    font-size: 16px;
    font-weight: 500;
    padding: 0 24px 48px 24px;
}

.reviews__img {
    width: 100%;
    height: auto;
    aspect-ratio: 4.4 / 2.5;
    object-fit: cover;
    border-radius: 16px;
}

/* #endregion */

/* #region Prizes Section */
.prizes {
    margin: 88px auto;
}

.prizes__ctn {
    border-radius: 16px;
    background-color: #F2F2F2;
    padding: 64px;
}

.prizes__content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

.prizes__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #fff;
    width: fit-content;
}

.prizes__item img {
    width: 104px;
    height: 80px;
    object-fit: cover;
    margin-right: 12px;
}

.prizes__year {
    color: #7F7F80;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.prizes__name {
    color: #090909;
    font-size: 16px;
    font-weight: 600;
}

/* #endregion */

/* #region Partners Section */
.partners {
    margin: 88px auto;
    padding: 0 0 0 0;
    max-width: unset;
}

.partners__ctn {
    padding: 0 64px;
}

.partners__content {
    margin-top: 40px;
}

.partners__carousel {
    height: 120px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.partners__carousel-track {
    animation: partners__scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 16);
}

.partners__carousel img {
    height: 120px;
    width: 250px;
    filter: grayscale(1);
    user-select: none;
}

.partners__carousel img:hover {
    height: 120px;
    width: 250px;
    filter: grayscale(0);
}

.partners__carousel::before,
.partners__carousel::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.partners__carousel::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.partners__carousel::before {
    left: 0;
    top: 0;
}

@keyframes partners__scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 8));
    }
}

.partners__carousel:hover .partners__carousel-track {
    animation-play-state: paused;
}

/* #endregion */

/* #region Choice Section */
.choice {
    margin: 88px 0 180px 0;
}

.choice__items {
    margin-top: 40px;
}

.choice__item {
    border-radius: 16px;
    background: #F5F5F5;
    padding: 24px;
}

.choice__item>img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 32px;
    aspect-ratio: 5.3 / 3;
}

.choice__name {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 16px;
}

.choice__name img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.choice__desc {
    color: #7F7F80;
    font-size: 16px;
    font-weight: 500;
}

.choice__content {
    position: relative;
    overflow: hidden;
}

/* #endregion */

/* #region Blogs Section */
.blogs {
    background-color: #f5f5f5;
    padding: 0 0 0 0;
    max-width: unset;
}

.blogs__ctn {
    padding: 88px 64px;
}

.blogs__title {
    position: relative;
}

.blogs__categories {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: end;
}

.blogs__category {
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: #7F7F80;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    margin-right: 8px;
}

.blogs__category:last-of-type {
    margin-right: 0;
}

.blogs__category:hover {
    opacity: 0.8;
}

.blogs__category.selected {
    color: #fff;
    background-color: #008C4F;
}

.blogs__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blogs__item {
    border-radius: 16px;
    background: #FFF;
    padding: 24px;
}

.blogs__item>img {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
    object-fit: cover;
    margin-bottom: 24px;
    aspect-ratio: 5.3 / 3;
}

.blogs__info {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 8px;
}

.blogs__tag {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #008C4F;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 12px;
}

.blogs__date {
    color: #7F7F80;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 12px;
    margin-right: 8px;
}

.blogs__length {
    margin-left: 8px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #7F7F80;
    font-size: 13px;
    font-weight: 500;
}

.blogs__length img {
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

.blogs__name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blogs__desc {
    color: #7F7F80;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 24px;
}

.blogs__view {
    color: #008C4F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline !important;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.blogs__view:hover {
    opacity: 0.8;
}

.blogs__view img {
    margin-left: 12px;
    height: 24px;
    width: 24px;
}

/* #endregion */

/* #region Q&A Section */
.qanda {
    margin: 88px 0;
}

.qanda__ctn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.qanda__title {}

.qanda__list {}

.qanda__item {
    margin-top: 16px;
}

.qanda__item:first-of-type {
    margin-top: 0;
}

.qanda__item input {
    display: none;
}

.qanda__question {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    font-weight: 600;

    border-radius: 16px;
    background: #F5F5F5;
}

.qanda__answer {
    color: #7F7F80;
    font-size: 16px;
    font-weight: 500;
    padding: 24px 0 24px 24px;
    display: none;
}

.qanda__item.active .qanda__answer {
    display: block;
}

.qanda__button {
    width: 44px;
    height: 44px;
    aspect-ratio: 1;
    background-color: #008C4F;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: 16px;
}

.qanda__button::before,
.qanda__button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 3px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

/* Vertical line (rotated from horizontal) */
.qanda__button::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

/* Active state — rotate to create 'X' */
.qanda__item.active .qanda__button {
    background-color: #fff;
    /* Optional: change color when active */
}

/* Rotate lines to form an 'X' */
.qanda__item.active .qanda__button::before {
    background-color: #008C4F;
    transform: translate(-50%, -50%) rotate(45deg);
}

.qanda__item.active .qanda__button::after {
    background-color: #008C4F;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* #endregion */

/* #region Footer */
.footer {}

.footer a:hover {
    opacity: 0.8;
}

.footer__ctn {
    padding: 32px;
}

.footer__top {
    display: flex;
    padding: 48px 64px;
    border-radius: 16px 16px 0px 0px;
    background: #121212;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.footer__top::after {
    content: "";
    position: absolute;
    left: 64px;
    bottom: 0;
    width: calc(100% - 128px);
    height: 1px;
    background-color: #7F7F80;
}

.footer__top img {
    width: 204px;
    height: 56px;
}

.footer__message {
    color: #BCB9C0;
    width: 560px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    right: 64px;
}

.footer__middle {
    background: #121212;
    padding: 48px 64px;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: space-between;
    gap: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer__middle>div {
    max-width: 380px;
}

.footer__contact {}

.footer__title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
}

.footer__region {
    margin-bottom: 16px;
}

.footer__region:last-of-type {
    margin-bottom: 0;
}

.footer__region img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.footer__region-name {
    color: #008C4F;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer__location,
.footer__phone {
    color: #BCB9C0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.footer__phone a {
    color: #fff
}

.footer__group {
    display: flex;
    flex-direction: column;
}

.footer__link {
    color: #BCB9C0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer__link:last-of-type {
    margin-bottom: 0;
}

.footer__bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    padding: 48px 64px;
    border-radius: 0px 0px 16px 16px;
    background: #090909;
}

.footer__copyright {
    color: #bcb9c0;
    font-size: 16px;
    font-weight: 500;
    width: 285px;
}

.footer__langs {
    color: #BCB9C0;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.footer__langs img {
    width: 32px;
    height: 32px;
    margin-right: 8px
}

.footer__social {
    display: flex;
}

.footer__social a {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(66, 156, 135, 0.16);
    box-sizing: border-box;
    margin-right: 8px;
}

.footer__social a:last-of-type {
    margin-right: 0;
}

.footer__social a img {
    width: 28px;
    height: 28px;
}

.footer__apps {
    display: flex;
    flex-direction: row-reverse;
}

.footer__apps a {
    border-radius: 6px;
    background: #fff;
    width: 136px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

/* #endregion */

/* #region Fade-in */
/* CSS */
.fade-in {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in[data-direction="left"] {
    transform: translateX(-100px);
}

.fade-in[data-direction="right"] {
    transform: translateX(100px);
}

.fade-in[data-direction="top"] {
    transform: translateY(-100px);
}

.fade-in[data-direction="bottom"] {
    transform: translateY(100px);
}

.fade-in.visible {
    opacity: 1;
    transform: translate(0, 0);
}

/* #endregion */

/* #region Swiper */

/* Hero swiper */
.hero .swiper-pagination {
    bottom: 32px !important;
}

.hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #008C4F;
    width: 160px;
}

.hero .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px;
}

.hero .swiper-pagination-bullet {
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background: #E2E1E3;
}

/* Choice swiper */
.choice .swiper-button-prev,
.choice .swiper-button-next {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: background-color 0.3s ease;
    position: absolute;
    top: unset;
    bottom: -92px;
}

.choice .swiper-button-prev {
    right: 124px;
    left: unset;
}

.choice .swiper-button-next {
    right: 64px;
    left: unset;
}

.choice .swiper-button-prev::after,
.choice .swiper-button-next::after {
    content: '';
    width: 9px;
    height: 9px;
    border: solid #008C4F;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(-45deg);
}

.choice .swiper-button-prev::after {
    transform: rotate(135deg);
}

.choice .swiper-button-prev:hover,
.choice .swiper-button-next:hover {
    background-color: #008C4F;
}

.choice .swiper-button-prev:hover::after,
.choice .swiper-button-next:hover::after {
    border-color: #fff;
}

.choice .swiper-pagination {
    position: absolute;
    bottom: -80px !important;
    right: unset !important;
    left: 64px !important;
    width: fit-content !important;
    height: 4px;
}

.choice .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #7F7F80;
    width: 160px;
}

.choice .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px;
}

.choice .swiper-pagination-bullet {
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background: #E2E1E3;
}

/* #endregion */

/* #region Responsive */
@media (min-width: 1440px) {
    .header__nav-list {
        display: flex;
    }

    .header__action-menu {
        display: none;
    }

    .about__container {
        grid-template-columns: 400px 1fr;
    }
}

@media (max-width: 1439.98px) {
    section {
        padding: 64px 64px;
    }

    .about__container {
        grid-template-columns: 300px 1fr;
    }

    .about__txt {
        font-size: 20px;
    }

    .footer__link {
        font-size: 14px;
    }

    .footer__middle>div {
        max-width: 260px;
    }
}

@media (max-width: 1199.98px) {
    section {}

    .about {
        margin: 64px auto 80px auto;
    }

    .about__container {
        grid-template-columns: 290px 1fr;
    }
}

@media (max-width: 991.98px) {
    section {
        padding: 48px 20px;
    }

    .general__btn {
        box-sizing: border-box;
    }

    .general__btn p {
        font-size: 14px;
    }

    .general__btn span {
        height: 36px;
        width: 36px;
    }

    .general__btn span img {
        top: 6px !important;
        right: 6px !important;
    }

    .general__btn.general__btn--contact {
        display: none;
    }

    .header {
        height: 64px;
        padding: 0 20px;
    }

    .header__logo img {
        height: auto;
        width: 91px;
    }

    .header__action {
        height: 36px;
        width: 36px;
    }

    .header__action-menu {
        height: 36px;
        margin-right: 0;
    }

    .hero {
        min-height: unset;
    }

    .introduction__left img {
        height: 480px;
    }

    .about {
        margin: 0 auto;
    }

    .about__container {
        grid-template-columns: 1fr;
    }

    .section__sub-title {
        font-size: 10px;
    }

    .introduction__title {
        font-size: 24px;
    }

    .stats__content {
        grid-template-columns: 1fr;
    }

    .introduction__content {
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .solutions__content {
        grid-template-columns: 1fr;
    }

    .solutions__ctn {
        padding: 48px 20px;
    }

    .section__title {
        font-size: 36px;
        text-align: center;
    }

    .projects {
        margin: auto;
    }

    .stats {
        margin-bottom: 0;
    }

    .stats__number {
        font-size: 56px;
        padding: 8px 0;
    }

    .introduction {
        margin: 0 auto;
    }

    .projects__item {
        grid-template-columns: 1fr;
        height: max-content;
        gap: 24px;
    }

    .projects__info-title,
    .projects__desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .projects__img {
        width: 100%;
        height: 190px;
        aspect-ratio: auto;
        object-fit: cover;
    }

    .projects__info-items {
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        gap: 10px;
    }

    .projects__info-items div {
        font-size: 10px;
        font-weight: 600;
        flex: 1 1 calc(50% - 5px);
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .products__content {
        grid-template-columns: 1fr;
    }

    .blogs__ctn {
        padding: 48px 20px;
    }

    .blogs__list {
        grid-template-columns: 1fr;
    }

    .partners__ctn {
        padding: 0 20px;
    }

    .contact__title {
        font-size: 30px;
    }

    .contact__message {
        margin-bottom: 16px;
    }

    .contact__content {
        grid-template-columns: 1fr;
    }

    .contact__inputs {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .contact__message input {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .contact__slides {
        display: none;
    }

    .contact,
    .reviews,
    .prizes,
    .partners {
        margin: 48px auto;
    }

    .products__ctn {
        padding: 48px 20px;
    }

    .prizes__ctn {
        padding: 24px;
    }

    .choice {
        margin: 0 0 52px 0;
    }

    .choice .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 24px;
    }

    .choice .swiper-pagination-bullet {
        width: 18px;
    }

    .choice .swiper-pagination {
        left: 20px !important;
        right: unset !important;
        bottom: 12px !important;
    }

    .choice .swiper-button-prev,
    .choice .swiper-button-next {
        bottom: -16px;
    }

    .choice .swiper-button-next {
        right: 20px;
    }

    .choice .swiper-button-prev {
        right: 80px;
    }

    .qanda {
        margin: 0;
    }

    .qanda__ctn {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .footer__middle {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .footer__bottom {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .footer__bottom>div:first-of-type {
        order: 99;
    }

    .footer__apps {
        flex-direction: row;
    }

    .footer__apps a {
        margin-left: 0;
        margin-right: 8px;
    }

    .footer__top {
        padding: 32px 20px;
        flex-direction: column;
    }

    .footer__middle,
    .footer__bottom {
        padding: 24px 20px;
    }

    .footer__ctn {
        padding: 20px;
    }

    .footer__top img {
        margin: 0 auto;
    }

    .footer__message {
        position: unset;
        margin-top: 24px;
        width: 100%;
        text-align: center;
    }
}

/* @media (max-width: 767.98px) {
    section {}

}

@media (max-width: 575.98px) {
    section {}
} */

/* #endregion */